{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-fragments": "off",
    "react/no-unused-prop-types": "off",
    "import/export": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-undef": "off",
    "no-redeclare": "off",

    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-use-before-define": "error"
  }
}
